@font-face {
	font-family: "NSI";
	src: url("../fonts/noto-serif-italic.ttf");
}




* {
	margin: 0px;
	padding: 0px;

	font-family: "NSI";
}



.headers {
	text-align: center;
}

#institute_title {
	height: auto;

	background: #755D9A;

	border-bottom: black 1.5px solid;
}

#group_title {
	height: 50px;

	background: #9966CC;

	border-top:  black 1.5px solid;

	padding-top: 15px;

	font-size: 29px;
}

.headers .img_container {
	height: auto;

	background: #9966CC;

	border-bottom: black 1.5px solid;

	padding-bottom: 20px;
}

#group_img {
	border: black 3px solid;
	padding: 0px;
}



.img_container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.img_container img {
	max-width: 90%;
}



.teamlead_list_wrap {
	background: #755D9A;

	border-top:  black 1.5px solid;
	border-bottom: black 1.5px solid;

	min-width: 320px;
}

.teamlead_list_wrap h1 {
	text-align: center;

	padding-top: 15px;
}

.teamlead_list {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;

	list-style-position: inside;
	/*list-style: none;*/

	height: auto;

	margin-bottom: 30px;

	padding-left: 20px;
	padding-right: 20px;
}

.teamlead_card {
	width: 30%;

	margin-top: 30px;

	text-align: center;
}

.teamlead_card li::marker {
	font-size: 40px;
}

.teamlead_card li .img_container {
	margin-left: auto;
    margin-right: auto;
}

.teamlead_card li .img_container img {
	max-height: 450px;

	border: black 3px solid;

}

.teamlead_name {
	font-size: 30px;
}




.student_list_wrap {
	background: #9966CC;

	border-top: black 1.5px solid;

	padding-right: 20px;
	padding-left: 20px;
}

.student_list_wrap h1 {
	text-align: center;

	padding-top: 15px;
}

.student_list {
	margin-top: 10px;
	padding-bottom: 5px;

	list-style-position: outside;
	list-style: none;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;

	text-align: center;
}

.student_card {
	padding-top: 30px;
	padding-bottom: 30px;

	width: 30%;

	text-align: center;
}

.student_card li::marker {
	font-size: 40px;
}

.student_card li .img_container {
	margin-left: auto;
    margin-right: auto;
}

.student_card li .img_container img {
	max-height: 450px;

	border: black 3px solid;
}

.student_name {
	font-size: 25px;
}


.link {
}

.link img {
	height: 29px;

	margin-top: 15px;
	margin-right: 7.5px;
	margin-left: 7.5px;
}



.footer {
	width: 100%;

	background: #9966CC;

	text-align: right;

	padding-bottom: 5px;
}

.footer .creator {
	font-size: 17px;

	padding-right: 5px;

	color: white;
}

.footer .creator a {
	color: white;
}






@media (max-width: 1200px) {
	.student_card {
		width: 50%;
	}
}

@media (max-width: 992px) {
	.teamlead_card {
		width: 50%;
	}
}

@media (max-width: 767px) {
	.teamlead_card {
		width: 100%;
	}

	.student_card {
		width: 100%;
	}
}

@media (max-width: 426px) {
	#institute_title {
		font-size: 25px;
		height: auto;
	}

	#group_title {
		font-size: 23px;
		height: 30px;
		padding-bottom: 10px;
	}

	.teamlead_list_wrap h1, .student_list_wrap h1 {
		font-size: 25px;
	}

	.teamlead_card li::marker {
		font-size: 30px;
	}

	.teamlead_name {
		font-size: 25px;
	}

	.student_name {
		font-size: 25px;
	}

	.footer .creator {
		font-size: 13px;
	}
}